Tests: python3-requests
Depends:
 python3-all,
 python3-certifi,
 python3-chardet,
 python3-pygments,
 python3-pytest,
 python3-pytest-httpbin,
 python3-pytest-mock,
 python3-socks,
 python3-trustme,
 python3-urllib3,
 python3-requests,
